@model IEnumerable<SiteCert.Models.StaffMember>

@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafePass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafePass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StaffMemberID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StaffMemberID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StaffMemberID })
            </td>
        </tr>
    }

</table>
